<div class="heading">
  <h2 class="text-b">Of From</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
       list
      </div>
      <div class="card-body">
       <ul id="listele">
        <li><strong>{{obmsg.a}}</strong></li>
        <li><strong>{{obmsg.b}}</strong></li>
       </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
       list1
      </div>
      <div class="card-body">
       <ul id="listele1">
       </ul>
      </div>
    </div>
  </div>
  
</div>
