/* Add your custom styles here */
.navbar {
  background-color: #f0f0f0; /* Change the background color as needed */
  width: 100vw;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: #333; /* Customize the toggler icon color */
}

.nav-link {
  color: #333; /* Customize the link text color */
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #555; /* Change the hover color as desired */
}
